/*Rayyan*/

:root{
    --bg: rgb(0, 0, 0);
    --bg-accent: rgb(90, 90, 90);
    --text-colour: #FFF;
    --nav-size: 81px;
    --border: 1px solid rgb(56, 56, 56);
    --border-radius: 12px;
    --speed: 1100ms;
    --faq-top-margin: 90px;
    --send-border-colour: #FB8500;
}

.contact-outer-container{
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: calc(var(--nav-size)+ 300px)
}

.contact-outer-container p{
    color:#FFF;
    font-size: 90px;
    font-weight: 700;
    margin-top:20px;
    background-color: #023047;
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:30px;
}

.contact-form input{
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFB703;
    border-color: #FFB703;
    margin:2px;
    height: 30px;
}

.contact-form textarea{
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFB703;
    border-color: #FFB703;
    margin:2px;
    height: 110px;
}

.contact-outer-container button{
    width: 75px;
    border-radius: 12px;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    background-color: var(--send-border-colour);
    border-color: var(--send-border-colour);
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.contact-outer-container button:hover{
    cursor: pointer;
    transition: background var(--speed);
    filter: brightness(1.1);
}